/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/_components/Menu/index.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.Menu_items__AyNbr {
  display: flex;
  color: #fff;
  gap: 40px;
}

.Menu_button__BYoiJ {
  display: none;
}

.Menu_close__hS6za {
  position: absolute;
  top: 24px;
  right: 16px;
}

@media (max-width: 640px) {
  .Menu_nav__iPfdA {
    display: none;
  }

  .Menu_nav__iPfdA.Menu_open__NCjrt {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-bg-painted);
    color: var(--color-text-unpainted);
    padding: 24px 16px;
  }

  .Menu_items__AyNbr {
    flex-direction: column;
    gap: 24px;
  }

  .Menu_button__BYoiJ {
    display: flex;
    background: none;
    border: none;
    cursor: pointer;
  }
}

/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --color-text-main: #333;
  --color-text-sub: #999;
  --color-text-unpainted: #fff;
  --color-text-error: #f33;
  --color-bg-main: #fff;
  --color-bg-sub: #f3f3f3;
  --color-bg-code: #fafafa;
  --color-bg-painted: #333;
  --color-border-dark: #333;
  --color-border: #ddd;
  --color-border-light: #f3f3f3;
  --color-current: #eee;
  --color-button-primary: #333;
  --border-radius: 4px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic,
    "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo,
    sans-serif;
  color: var(--color-text-main);
  line-height: 1.8;
}

code {
  font-family: menlo, inconsolata, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/_components/Header/index.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Header_header__gGK2p {
  position: absolute;
  padding: 16px 24px 8px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Header_logoLink__RYTdm {
  display: flex;
}

.Header_logo__hNdxq {
  height: 24px;
  width: auto;
}

.Header_items__EbUVA {
  display: flex;
  color: #fff;
  gap: 40px;
}

@media (max-width: 640px) {
  .Header_header__gGK2p {
    padding: 24px 16px 8px;
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/_components/Footer/index.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Footer_footer__exPaE {
  padding: 16px 24px;
  text-align: center;
  color: var(--color-text-sub);
  font-size: 0.8rem;
  margin-top: 80px;
}

.Footer_nav__sALft {
  margin-bottom: 16px;
}

.Footer_items__7h_aF {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 1rem;
  white-space: nowrap;
}

@media (max-width: 640px) {
  .Footer_item__YHil6 {
    width: 50%;
  }
}

