/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/not-found.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.not-found_title__Vh7BH {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  font-family: 'system-ui,"Segoe UI",Roboto,Hevetica,Arial,sans-serif';
  margin-bottom: 24px;
}

.not-found_text__5JT3T {
  font-size: 1rem;
  text-align: center;
}

.not-found_container__PhdHT {
  position: relative;
  background-color: #fff;
  width: 840px;
  margin: -40px auto 0;
  padding: 160px 80px;
  border-radius: var(--border-radius);
}

