/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
.page_top__Dp7wK {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  overflow: hidden;
  padding: 200px 0;
}

.page_title__po7na {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.page_description__lvaOp {
  text-align: center;
}

.page_bgimg__c4h1Z {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: right;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.page_news__BZbkH {
  position: relative;
  background-color: #fff;
  width: 840px;
  margin: -40px auto 0;
  padding: 24px 40px;
  border-radius: var(--border-radius);
}

.page_newsTitle__Uu02M {
  font-size: 1.5rem;
}

.page_newsLink__wyynS {
  position: absolute;
  right: -40px;
  bottom: -40px;
}

@media (max-width: 1000px) {
  .page_new__ByiRg {
    width: calc(100% - 160px);
  }
}

@media (max-width: 640px) {
  .page_top__Dp7wK {
    padding: 120px 16px;
  }
  .page_title__po7na {
    font-size: 2rem;
    text-align: left;
  }
  .page_description__lvaOp {
    text-align: center;
    font-size: 0.9rem;
    text-align: left;
  }
  .page_bgimg__c4h1Z {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 600px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }

  .page_news__BZbkH {
    width: calc(100% - 32px);
    padding: 16px 24px;
  }

  .page_newsLink__wyynS {
    position: relative;
    right: auto;
    bottom: auto;
    margin-top: 16px;
  }
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/_components/NewsList/index.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.NewsList_list__P92Wt {
  border-bottom: 1px solid var(--color-border-light);
}

.NewsList_list__P92Wt:last-child {
  border-bottom: none;
}

.NewsList_link__i9xFL {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding: 24px 0;
}

.NewsList_image__Ci96f {
  width: 200px;
  height: auto;
  border-radius: var(--border-radius);
}

.NewsList_title__nA5E5 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.NewsList_meta__jIIeK {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (max-width: 640px) {
  .NewsList_link__i9xFL {
    display: block;
    padding: 16px 0;
  }

  .NewsList_image__Ci96f {
    display: none;
  }

  .NewsList_title__nA5E5 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
  }

  .NewsList_meta__jIIeK {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/_components/Category/index.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.Category_tag__Q_aX1 {
  background-color: var(--color-bg-sub);
  padding: 4px 12px;
  border-radius: var(--border-radius);
  white-space: nowrap;
  font-size: 1rem;
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/_components/Date/index.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.Date_date__ElJv4 {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0.8rem 0;
  font-size: 1rem;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./app/_components/ButtonLink/index.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.ButtonLink_button__nig3N {
  display: block;
  padding: 20px 40px;
  border-radius: var(--border-radius);
  width: 300px;
  background: url("/arrow-right.svg") no-repeat right 20px center,
    var(--color-button-primary);
  color: var(--color-text-unpainted);
}

.ButtonLink_button__nig3N:hover {
  opacity: 0.9;
}

@media (max-width: 640px) {
  .ButtonLink_button__nig3N {
    padding: 16px 24px;
    width: 100%;
  }
}

